capture_flow_updated.json
{
  "name": "Simple Discovery Capture (with photo) 23Jan2026 2200 with OG picture download",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        192
      ],
      "id": "492baa63-b6e6-4573-bcb9-359ce018f654",
      "name": "Capture Webhook",
      "webhookId": "capture"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\n\n// Check if photo exists\nif (!body.photo) {\n  // No photo - pass through\n  return [{ json: body }];\n}\n\n// Photo already compressed by the browser (canvas resize at 82% JPEG quality)\n// Just prepare the binary for upload\nconst photoBase64 = body.photo;\nconst originalFilename = body.photoFilename || 'photo.jpg';\n\nconst timestamp = Date.now();\nconst randomStr = Math.random().toString(36).substring(2, 8);\nconst cleanFilename = `${timestamp}_${randomStr}.jpg`;\n\nconst binaryData = Buffer.from(photoBase64, 'base64');\n\nreturn [{\n  json: {\n    ...body,\n    photoFilename: cleanFilename,\n    hasPhoto: true\n  },\n  binary: {\n    photo: {\n      data: binaryData.toString('base64'),\n      mimeType: 'image/jpeg',\n      fileName: cleanFilename\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        192
      ],
      "id": "d735f7cc-35b0-47c5-a973-4bca3b849f22",
      "name": "Handle Photo Upload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "842f4029-d25c-4157-a09e-de6b1ced6c40",
              "leftValue": "={{ $json.hasPhoto }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        432,
        192
      ],
      "id": "40198da1-7bf4-472e-b662-ae1240fe9a03",
      "name": "Check If Photo Exists"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hedywkwmgkvojujvczqr.supabase.co/storage/v1/object/recommendation-photos/{{ $json.photoFilename }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            },
            {
              "name": "x-upsert",
              "value": "false"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "photo",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        656,
        176
      ],
      "id": "3c7de413-ea99-4394-a6c8-35bddd4081d6",
      "name": "Upload to Supabase Storage",
      "credentials": {
        "supabaseApi": {
          "id": "7wWc27Eaxmxi7FC2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $json;\n\n// Only attempt OG download if there's an ogImageUrl and no manual photo\nif (body.ogImageUrl && body.ogImageUrl.startsWith('http')) {\n  return [{ json: { ...body, hasOGImage: true } }];\n}\n\n// No OG image — pass through\nreturn [{ json: { ...body, hasOGImage: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        448
      ],
      "id": "714ad235-f172-4781-ad71-bdc8da5470f9",
      "name": "Check OG Image"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9f8e7d6c-5b4a-3210-fedc-ba9876543210",
              "leftValue": "={{ $json.hasOGImage }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        448
      ],
      "id": "a312be7a-f4d8-406d-b727-33e6e4e3b3c8",
      "name": "Has OG Image?"
    },
    {
      "parameters": {
        "url": "={{ $json.ogImageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        432
      ],
      "id": "f43ae51f-2c8d-4a66-9e99-ff0d51e04a82",
      "name": "Download OG Image"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Check OG Image').first().json;\n\nconst timestamp = Date.now();\nconst randomStr = Math.random().toString(36).substring(2, 8);\nconst cleanFilename = `og_${timestamp}_${randomStr}.jpg`;\n\nconst currentItem = $input.item;\nconst binaryData = currentItem.binary?.data;\n\nif (!binaryData) {\n  throw new Error('Binary missing. Keys: ' + JSON.stringify(Object.keys(currentItem.binary || {})));\n}\n\nreturn [{\n  json: {\n    ...body,\n    photoFilename: cleanFilename,\n    hasPhoto: true,\n    photoSource: 'og',\n    ogImageUrl: null\n  },\n  binary: {\n    photo: {\n      data: binaryData.data,\n      mimeType: binaryData.mimeType || 'image/jpeg',\n      fileName: cleanFilename,\n      fileSize: binaryData.fileSize,\n      id: binaryData.id\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        432
      ],
      "id": "6b779d25-9e39-4beb-8f8a-f5189acf7e1f",
      "name": "Prepare OG Photo for Upload"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are enriching discovery data for semantic search. Use ONLY the provided inputs below.\n\nINPUTS:\n- Title: {{ $('Handle Photo Upload').item.json.title }}\n- Description: {{ $('Handle Photo Upload').item.json.description }}\n- Category: {{ $('Handle Photo Upload').item.json.type }}\n- Address: {{ $('Handle Photo Upload').item.json.address || 'none' }}\n- URL: {{ $('Handle Photo Upload').item.json.url || 'none' }}\n\nCRITICAL: The enriched description MUST be based on the title \"{{ $('Handle Photo Upload').item.json.title }}\" and description \"{{ $('Handle Photo Upload').item.json.description }}\" above. Do not invent unrelated content.\n\nTASK:\nGenerate a JSON response with:\n{\n  \"enriched_description\": \"<expand the provided description with relevant context, max 80 words>\",\n  \"keywords\": [\"<5-8 relevant keywords based on the category and description>\"]\n}\n\nKeyword examples by category:\n- For medical/healthcare: [\"healthcare\", \"medical\", \"specialist\", \"clinic\", \"doctor\", location]\n- For coffee shops: [\"coffee\", \"cafe\", \"wifi\", \"atmosphere\", location]\n- For restaurants: [\"food\", \"dining\", \"cuisine\", \"restaurant\", location]\n\nReturn ONLY valid JSON with no explanation or markdown formatting.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        880,
        208
      ],
      "id": "380515a6-fe47-4132-bccb-9f0e4df1065e",
      "name": "AI Enhance"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "maxTokens": 400,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        880,
        416
      ],
      "id": "ec0dbbe0-bd1d-4afb-a032-71d0a9f44418",
      "name": "GPT-4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "O5dHjIM6T4oRwzFq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response\nlet ai;\ntry {\n  const text = $json.text || '{}';\n  const cleaned = text.replace(/```json\\n?|```\\n?/g, '').trim();\n  ai = JSON.parse(cleaned);\n} catch (e) {\n  ai = { enriched_description: '', keywords: [] };\n}\n\n// Get original data from Handle Photo Upload\nconst originalData = $('Handle Photo Upload').first().json;\n\n// Resolve photo URL — check both manual upload and OG image paths\nlet photoUrl = null;\ntry {\n  const ogData = $('Prepare OG Photo for Upload').first()?.json;\n  const filename = originalData.photoFilename || ogData?.photoFilename;\n  if (filename) {\n    photoUrl = `https://hedywkwmgkvojujvczqr.supabase.co/storage/v1/object/public/recommendation-photos/${filename}`;\n  }\n} catch (e) {\n  photoUrl = null;\n}\n\n// NOTE: ogImageUrl is no longer used directly — it is downloaded and re-uploaded to Supabase\n// so photo_url will always be a permanent Supabase URL\n\nconst payload = {\n  title: originalData.title || 'Untitled',\n  description: originalData.description || '',\n  enriched_description: ai.enriched_description || originalData.description || '',\n  keywords: Array.isArray(ai.keywords) ? ai.keywords : [],\n  type: (originalData.type || 'place').toLowerCase(),\n  address: originalData.address || null,\n  URL: originalData.url ? [originalData.url] : [],\n  added_by: originalData.UserID,\n  added_by_name: originalData.addedBy || 'Unknown',\n  family_id: originalData.familyId,\n  network_layer: 1,\n  language: 'en',\n  photo_url: photoUrl,\n  personal_note: originalData.personalNote || null,\n  metadata: {\n    source: 'web_form',\n    created: new Date().toISOString()\n  }\n};\n\nconst embedding_text = [\n  payload.title,\n  payload.enriched_description,\n  payload.personal_note,\n  payload.type,\n  payload.added_by_name,\n  payload.keywords.join(', '),\n  payload.address\n].filter(Boolean).join('\\n');\n\nreturn [{ json: { payload, embedding_text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        208
      ],
      "id": "0b509101-7817-4945-b6bf-e6c51dd20177",
      "name": "Build Record"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": {{ JSON.stringify($json.embedding_text) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        208
      ],
      "id": "0b413615-be97-42b6-a9b1-d74950a13c2e",
      "name": "Generate Embedding",
      "credentials": {
        "openAiApi": {
          "id": "O5dHjIM6T4oRwzFq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Build Record').first().json.payload;\nconst embedding = $json.data[0].embedding;\n\nreturn [{\n  json: {\n    ...payload,\n    embedding: embedding\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        208
      ],
      "id": "2314bba4-07a7-4c17-9da3-14f17c4268f4",
      "name": "Add Embedding"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hedywkwmgkvojujvczqr.supabase.co/rest/v1/knowledge_items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        208
      ],
      "id": "5d7b86db-8b1b-4bb7-9a99-e6bb3d2e17f1",
      "name": "Save to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "7wWc27Eaxmxi7FC2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hedywkwmgkvojujvczqr.supabase.co/rest/v1/endorsements",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json[0].added_by }}\",\n  \"item_id\": \"{{ $json[0].id }}\",\n  \"visibility\": \"{{ $json[0].visibility || 'friends' }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1776,
        208
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Auto-Save Endorsement",
      "credentials": {
        "supabaseApi": {
          "id": "7wWc27Eaxmxi7FC2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, id: $('Save to Supabase').first().json[0].id, title: $('Save to Supabase').first().json[0].title } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1952,
        208
      ],
      "id": "9e6d096a-1877-4fce-9d81-ec4fae069058",
      "name": "Success Response"
    },
    {
      "parameters": {
        "content": "## Auto-Save on Add\nAfter item is created in knowledge_items, immediately insert an endorsement row for the creator.\n\nEvery discovery starts with save count = 1.\nVisibility mirrors the item's own visibility setting.",
        "height": 140,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        40
      ],
      "typeVersion": 1,
      "id": "note-auto-save",
      "name": "Sticky Note Auto Save"
    },
    {
      "parameters": {
        "content": "## Manual Photo Upload Path\nUser uploaded a photo directly from their device.\nPhoto is already compressed by the browser before sending (canvas resize, max 1200px, JPEG 82%).\nn8n just converts base64 → binary → uploads to Supabase Storage.",
        "height": 200,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -48
      ],
      "typeVersion": 1,
      "id": "8b2983ac-d8ee-47c2-9067-cfd430f1d54a",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Capture Webhook": {
      "main": [
        [
          {
            "node": "Handle Photo Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Photo Upload": {
      "main": [
        [
          {
            "node": "Check If Photo Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Photo Exists": {
      "main": [
        [
          {
            "node": "Upload to Supabase Storage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check OG Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Supabase Storage": {
      "main": [
        [
          {
            "node": "AI Enhance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check OG Image": {
      "main": [
        [
          {
            "node": "Has OG Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has OG Image?": {
      "main": [
        [
          {
            "node": "Download OG Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Enhance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download OG Image": {
      "main": [
        [
          {
            "node": "Prepare OG Photo for Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare OG Photo for Upload": {
      "main": [
        [
          {
            "node": "Upload to Supabase Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Enhance",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Enhance": {
      "main": [
        [
          {
            "node": "Build Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Record": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Add Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Embedding": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Supabase": {
      "main": [
        [
          {
            "node": "Auto-Save Endorsement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Save Endorsement": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "c267414c-a031-43f0-8380-80064d9b326b",
  "meta": {
    "instanceId": "912377b85bb7b8601567b7eac75891920e6a3ebc38db810460689020425b8aa6"
  },
  "id": "ZpluKcbspO0P7V05",
  "tags": []
}