Discovery Capture FIXED 14Mar26.json
{
  "name": "Discovery Capture FIXED 14Mar26",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [1888, 160],
      "id": "10cdc477-c3b9-4509-ba11-46fa8d562895",
      "name": "Capture Webhook",
      "webhookId": "capture"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\n\n// Check if photo exists\nif (!body.photo) {\n  // No photo - pass through\n  return [{ json: body }];\n}\n\n// Photo already compressed by the browser (canvas resize at 82% JPEG quality)\n// Just prepare the binary for upload\nconst photoBase64 = body.photo;\nconst originalFilename = body.photoFilename || 'photo.jpg';\n\nconst timestamp = Date.now();\nconst randomStr = Math.random().toString(36).substring(2, 8);\nconst cleanFilename = `${timestamp}_${randomStr}.jpg`;\n\nconst binaryData = Buffer.from(photoBase64, 'base64');\n\nreturn [{\n  json: {\n    ...body,\n    photoFilename: cleanFilename,\n    hasPhoto: true\n  },\n  binary: {\n    photo: {\n      data: binaryData.toString('base64'),\n      mimeType: 'image/jpeg',\n      fileName: cleanFilename\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2096, 160],
      "id": "cbf3acdd-ec87-407a-abb9-87f6804ba2d3",
      "name": "Handle Photo Upload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "842f4029-d25c-4157-a09e-de6b1ced6c40",
              "leftValue": "={{ $json.hasPhoto }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2272, 160],
      "id": "d5758395-9b23-45af-81d1-89ac7689362d",
      "name": "Check If Photo Exists"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hedywkwmgkvojujvczqr.supabase.co/storage/v1/object/recommendation-photos/{{ $json.photoFilename }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "image/jpeg" },
            { "name": "x-upsert", "value": "false" }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "photo",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2496, 144],
      "id": "ac15e362-eb65-4f7a-97c1-5de339c68f43",
      "name": "Upload to Supabase Storage",
      "credentials": {
        "supabaseApi": { "id": "7wWc27Eaxmxi7FC2", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $json;\n\n// Only attempt OG download if there's an ogImageUrl and no manual photo\nif (body.ogImageUrl && body.ogImageUrl.startsWith('http')) {\n  return [{ json: { ...body, hasOGImage: true } }];\n}\n\n// No OG image — pass through\nreturn [{ json: { ...body, hasOGImage: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 416],
      "id": "2808389d-87d9-4384-960c-0b791e618cb5",
      "name": "Check OG Image"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9f8e7d6c-5b4a-3210-fedc-ba9876543210",
              "leftValue": "={{ $json.hasOGImage }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2096, 416],
      "id": "38b00319-ad94-49f5-85ee-00262500b780",
      "name": "Has OG Image?"
    },
    {
      "parameters": {
        "url": "={{ $json.ogImageUrl }}",
        "options": {
          "response": { "response": { "responseFormat": "file" } }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2272, 400],
      "id": "ec7cfb9b-defb-45e1-a7be-5c319cfa767b",
      "name": "Download OG Image"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Check OG Image').first().json;\n\nconst timestamp = Date.now();\nconst randomStr = Math.random().toString(36).substring(2, 8);\nconst cleanFilename = `og_${timestamp}_${randomStr}.jpg`;\n\nconst currentItem = $input.item;\nconst binaryData = currentItem.binary?.data;\n\nif (!binaryData) {\n  throw new Error('Binary missing. Keys: ' + JSON.stringify(Object.keys(currentItem.binary || {})));\n}\n\nreturn [{\n  json: {\n    ...body,\n    photoFilename: cleanFilename,\n    hasPhoto: true,\n    photoSource: 'og',\n    ogImageUrl: null\n  },\n  binary: {\n    photo: {\n      data: binaryData.data,\n      mimeType: binaryData.mimeType || 'image/jpeg',\n      fileName: cleanFilename,\n      fileSize: binaryData.fileSize,\n      id: binaryData.id\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2496, 400],
      "id": "a3bd8e81-0b85-4aa5-95c8-e57b15e2839a",
      "name": "Prepare OG Photo for Upload"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are enriching discovery data for semantic search. Use ONLY the provided inputs below.\n\nINPUTS:\n- Title: {{ $('Handle Photo Upload').item.json.title }}\n- Description: {{ $('Handle Photo Upload').item.json.description }}\n- Category: {{ $('Handle Photo Upload').item.json.type }}\n- Address: {{ $('Handle Photo Upload').item.json.address || 'none' }}\n- URL: {{ $('Handle Photo Upload').item.json.url || 'none' }}\n\nCRITICAL: The enriched description MUST be based on the title \"{{ $('Handle Photo Upload').item.json.title }}\" and description \"{{ $('Handle Photo Upload').item.json.description }}\" above. Do not invent unrelated content.\n\nTASK:\nGenerate a JSON response with:\n{\n  \"enriched_description\": \"<expand the provided description with relevant context, max 80 words>\",\n  \"keywords\": [\"<5-8 relevant keywords based on the category and description>\"],\n  \"feed_card_summary\": \"<5-10 word punchy summary of what this saved item is about. No punctuation at the end. No quotes. Examples: Amazing rooftop bar with city views | Best ramen in Tokyo near Shinjuku | Hidden beach perfect for sunset picnics | Fast reliable accountant for small business>\"\n}\n\nKeyword examples by category:\n- For medical/healthcare: [\"healthcare\", \"medical\", \"specialist\", \"clinic\", \"doctor\", location]\n- For coffee shops: [\"coffee\", \"cafe\", \"wifi\", \"atmosphere\", location]\n- For restaurants: [\"food\", \"dining\", \"cuisine\", \"restaurant\", location]\n\nReturn ONLY valid JSON with no explanation or markdown formatting.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [2720, 176],
      "id": "b1dd9a70-78b1-4919-a8df-9d42ed762d29",
      "name": "AI Enhance"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": { "maxTokens": 400, "temperature": 0 }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [2720, 384],
      "id": "9749e7d5-669e-4430-9d0f-fddd69f1d53c",
      "name": "GPT-4o-mini",
      "credentials": {
        "openAiApi": { "id": "O5dHjIM6T4oRwzFq", "name": "OpenAi account" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response\nlet ai;\ntry {\n  const text = $json.text || '{}';\n  const cleaned = text.replace(/```json\\n?|```\\n?/g, '').trim();\n  ai = JSON.parse(cleaned);\n} catch (e) {\n  ai = { enriched_description: '', keywords: [], feed_card_summary: '' };\n}\n\n// Get original data from Handle Photo Upload\nconst originalData = $('Handle Photo Upload').first().json;\n\n// Resolve photo URL\n// Priority 1: manual upload — photoFilename is set directly on originalData\n// Priority 2: OG image path — set on Prepare OG Photo for Upload\n// Priority 3: no photo\nlet photoUrl = null;\n\nif (originalData.photoFilename) {\n  photoUrl = `https://hedywkwmgkvojujvczqr.supabase.co/storage/v1/object/public/recommendation-photos/${originalData.photoFilename}`;\n} else {\n  try {\n    const ogFilename = $('Prepare OG Photo for Upload').first()?.json?.photoFilename;\n    if (ogFilename) {\n      photoUrl = `https://hedywkwmgkvojujvczqr.supabase.co/storage/v1/object/public/recommendation-photos/${ogFilename}`;\n    }\n  } catch (e) {\n    photoUrl = null;\n  }\n}\n\n// Clean feed_card_summary — strip surrounding quotes\nconst rawSummary = ai.feed_card_summary || '';\nconst feedCardSummary = rawSummary.replace(/^[\"']/g, '').replace(/[\"']$/g, '').trim();\n\nconst payload = {\n  title: originalData.title || 'Untitled',\n  description: originalData.description || '',\n  enriched_description: ai.enriched_description || originalData.description || '',\n  keywords: Array.isArray(ai.keywords) ? ai.keywords : [],\n  feed_card_summary: feedCardSummary,\n  type: (originalData.type || 'place').toLowerCase(),\n  address: originalData.address || null,\n  URL: originalData.url ? [originalData.url] : [],\n  added_by: originalData.UserID || null,\n  added_by_name: originalData.addedBy || 'Unknown',\n  family_id: originalData.familyId || null,\n  network_layer: 1,\n  language: 'en',\n  photo_url: photoUrl,\n  personal_note: originalData.personalNote || null,\n  metadata: {\n    source: 'web_form',\n    created: new Date().toISOString()\n  }\n};\n\nconst embedding_text = [\n  payload.title,\n  payload.enriched_description,\n  payload.personal_note,\n  payload.type,\n  payload.added_by_name,\n  payload.keywords.join(', '),\n  payload.address\n].filter(Boolean).join('\\n');\n\nreturn [{ json: { payload, embedding_text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2976, 176],
      "id": "1bf0248f-4c88-41ec-85d3-f26833028042",
      "name": "Build Record"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": {{ JSON.stringify($json.embedding_text) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3120, 176],
      "id": "e5b0d910-1565-4061-a48b-cfb253f4d770",
      "name": "Generate Embedding",
      "credentials": {
        "openAiApi": { "id": "O5dHjIM6T4oRwzFq", "name": "OpenAi account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Build Record').first().json.payload;\nconst embedding = $json.data[0].embedding;\n\nreturn [{\n  json: {\n    ...payload,\n    embedding: embedding\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3280, 176],
      "id": "2112ed5e-930b-4b1d-81b2-1e352ce0bb55",
      "name": "Add Embedding"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hedywkwmgkvojujvczqr.supabase.co/rest/v1/knowledge_items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Prefer", "value": "return=representation" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3456, 176],
      "id": "c3130479-bf27-4f4f-b6ac-771807a3b4c1",
      "name": "Save to Supabase",
      "credentials": {
        "supabaseApi": { "id": "7wWc27Eaxmxi7FC2", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hedywkwmgkvojujvczqr.supabase.co/rest/v1/endorsements",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Prefer", "value": "return=minimal" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.added_by }}\",\n  \"item_id\": \"{{ $json.id }}\",\n  \"visibility\": \"friends\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3616, 176],
      "id": "13fcba81-288f-4434-a070-4244d6e5cab8",
      "name": "Auto-Save Endorsement",
      "credentials": {
        "supabaseApi": { "id": "7wWc27Eaxmxi7FC2", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, id: $('Save to Supabase').first().json.id, title: $('Save to Supabase').first().json.title } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3792, 176],
      "id": "c5ae7e69-f69f-4d31-9d77-67ebafe660f1",
      "name": "Success Response"
    },
    {
      "parameters": {
        "content": "## Auto-Save on Add\nAfter item is created in knowledge_items, immediately insert an endorsement row for the creator.\n\nEvery discovery starts with save count = 1.\nVisibility mirrors the item's own visibility setting.",
        "height": 140,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [3616, 0],
      "typeVersion": 1,
      "id": "6a581889-36a4-4758-9878-31da5dc2943e",
      "name": "Sticky Note Auto Save"
    },
    {
      "parameters": {
        "content": "## Manual Photo Upload Path\nUser uploaded a photo directly from their device.\nPhoto is already compressed by the browser before sending (canvas resize, max 1200px, JPEG 82%).\nn8n just converts base64 → binary → uploads to Supabase Storage.",
        "height": 200,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [2240, -80],
      "typeVersion": 1,
      "id": "896c6a41-86dd-4596-97d3-d7d54a4d9a4f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## FIX 1: photo_url\nBuild Record now checks originalData.photoFilename FIRST (manual upload path), then falls back to Prepare OG Photo for Upload (OG path). Previously the order was reversed causing photo_url to be null on manual uploads.\n\n## FIX 2: Endorsement UUID error\nn8n HTTP node v4.2 unwraps Supabase's returned array — so $json IS the object, not $json[0].\nChanged $json[0].id → $json.id and $json[0].added_by → $json.added_by in Auto-Save Endorsement.\nAlso fixed same issue in Success Response node.\n\n## feed_card_summary\nGenerated inside AI Enhance alongside enriched_description and keywords — single LLM call.\nCleaned (quotes stripped) and added to payload in Build Record.\nWritten to Supabase automatically with the rest of the record.",
        "height": 460,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [2896, -304],
      "typeVersion": 1,
      "id": "4ba5ba36-bc5b-4559-98f6-2b705a932018",
      "name": "Fix Notes"
    }
  ],
  "pinData": {},
  "connections": {
    "Capture Webhook": {
      "main": [[{ "node": "Handle Photo Upload", "type": "main", "index": 0 }]]
    },
    "Handle Photo Upload": {
      "main": [[{ "node": "Check If Photo Exists", "type": "main", "index": 0 }]]
    },
    "Check If Photo Exists": {
      "main": [
        [{ "node": "Upload to Supabase Storage", "type": "main", "index": 0 }],
        [{ "node": "Check OG Image", "type": "main", "index": 0 }]
      ]
    },
    "Upload to Supabase Storage": {
      "main": [[{ "node": "AI Enhance", "type": "main", "index": 0 }]]
    },
    "Check OG Image": {
      "main": [[{ "node": "Has OG Image?", "type": "main", "index": 0 }]]
    },
    "Has OG Image?": {
      "main": [
        [{ "node": "Download OG Image", "type": "main", "index": 0 }],
        [{ "node": "AI Enhance", "type": "main", "index": 0 }]
      ]
    },
    "Download OG Image": {
      "main": [[{ "node": "Prepare OG Photo for Upload", "type": "main", "index": 0 }]]
    },
    "Prepare OG Photo for Upload": {
      "main": [[{ "node": "Upload to Supabase Storage", "type": "main", "index": 0 }]]
    },
    "GPT-4o-mini": {
      "ai_languageModel": [[{ "node": "AI Enhance", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI Enhance": {
      "main": [[{ "node": "Build Record", "type": "main", "index": 0 }]]
    },
    "Build Record": {
      "main": [[{ "node": "Generate Embedding", "type": "main", "index": 0 }]]
    },
    "Generate Embedding": {
      "main": [[{ "node": "Add Embedding", "type": "main", "index": 0 }]]
    },
    "Add Embedding": {
      "main": [[{ "node": "Save to Supabase", "type": "main", "index": 0 }]]
    },
    "Save to Supabase": {
      "main": [[{ "node": "Auto-Save Endorsement", "type": "main", "index": 0 }]]
    },
    "Auto-Save Endorsement": {
      "main": [[{ "node": "Success Response", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "f87a9366-aba1-4c92-a99f-8c9e8e72b0fc",
  "meta": {
    "instanceId": "912377b85bb7b8601567b7eac75891920e6a3ebc38db810460689020425b8aa6"
  },
  "id": "7FKOk1csi3iwx3KF",
  "tags": []
}
