Odin — OG Fetch _ URL Preview (YouTube fix).json
{
  "name": "Odin — OG Fetch / URL Preview",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "og-fetch",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-16, 672],
      "id": "48de85fb-c152-4a07-bbb9-948012a91c5a",
      "name": "OG Fetch Webhook",
      "webhookId": "871df3a4-3daa-4391-9261-1fa65240c649"
    },
    {
      "parameters": {
        "jsCode": "const url = $json.body.url || '';\nlet platform = 'other';\nif (/instagram\\.com/i.test(url)) platform = 'instagram';\nelse if (/facebook\\.com|fb\\.com|fb\\.watch/i.test(url)) platform = 'facebook';\nelse if (/maps\\.app\\.goo\\.gl|google\\.com\\/maps|goo\\.gl\\/maps/i.test(url)) platform = 'googlemaps';\nelse if (/youtube\\.com|youtu\\.be/i.test(url)) platform = 'youtube';\nreturn [{ json: { url, platform } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [208, 672],
      "id": "938481dc-c799-49be-b461-9d3e11647659",
      "name": "Detect Platform"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "instagram-check",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "facebook-check",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "googlemaps-check",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "googlemaps",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GoogleMaps"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "youtube-check",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "youtube",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "YouTube"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [416, 672],
      "id": "31517cb7-8296-494d-8cb3-ec2dcd3f19a3",
      "name": "Platform Switch"
    },
    {
      "parameters": {
        "url": "=https://api.microlink.io/?url={{ encodeURIComponent($json.url) }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [656, 464],
      "id": "929917a6-d52a-43ff-8acb-e75d02e9b604",
      "name": "Instagram via Microlink"
    },
    {
      "parameters": {
        "jsCode": "const d = $json.data || {};\nreturn [{\n  json: {\n    title: d.title || '',\n    description: d.description || '',\n    image: d.image?.url || '',\n    site_name: 'Instagram'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, 464],
      "id": "a5bf3574-702d-44a7-9d79-706bbfa31de4",
      "name": "Format Instagram"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {"name": "Content-Type", "value": "application/json"},
              {"name": "Access-Control-Allow-Origin", "value": "*"}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1136, 464],
      "id": "bc8a6e2a-4a97-405a-8934-e3beff9bfcf4",
      "name": "Respond Instagram"
    },
    {
      "parameters": {
        "url": "=https://api.microlink.io/?url={{ encodeURIComponent($json.url) }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [656, 672],
      "id": "b53f4437-41cc-44e0-846d-90324391ef81",
      "name": "Facebook via Microlink"
    },
    {
      "parameters": {
        "jsCode": "const d = $json.data || {};\nreturn [{\n  json: {\n    title: d.title || '',\n    description: d.description || '',\n    image: d.image?.url || '',\n    site_name: 'Facebook'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, 672],
      "id": "08f58c2f-b119-4cc0-8ea8-800219ef4175",
      "name": "Format Facebook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {"name": "Content-Type", "value": "application/json"},
              {"name": "Access-Control-Allow-Origin", "value": "*"}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1136, 672],
      "id": "ab125631-6429-4f24-837f-4ce6c862b1fd",
      "name": "Respond Facebook"
    },
    {
      "parameters": {
        "url": "=https://www.youtube.com/oembed?url={{ encodeURIComponent($json.url) }}&format=json",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [656, 256],
      "id": "yt-fetch-node-001",
      "name": "YouTube via oEmbed",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nreturn [{\n  json: {\n    title: d.title || '',\n    description: d.author_name ? 'by ' + d.author_name : '',\n    image: d.thumbnail_url || '',\n    site_name: 'YouTube'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, 256],
      "id": "yt-format-node-001",
      "name": "Format YouTube"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {"name": "Content-Type", "value": "application/json"},
              {"name": "Access-Control-Allow-Origin", "value": "*"}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1136, 256],
      "id": "yt-respond-node-001",
      "name": "Respond YouTube"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "User-Agent", "value": "Mozilla/5.0 (compatible; VouchBot/1.0)"},
            {"name": "Accept", "value": "text/html"}
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 3
            }
          },
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 8000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [656, 1056],
      "id": "d2fd2067-362f-493f-ae04-92eedda67248",
      "name": "Fetch URL HTML",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const html = $json.data || $json.body || '';\n\nfunction getOG(prop) {\n  const r1 = new RegExp(`<meta[^>]+property=[\"']og:${prop}[\"'][^>]+content=[\"']([^\"']*)[\"']`, 'i');\n  const r2 = new RegExp(`<meta[^>]+content=[\"']([^\"']*)[\"'][^>]+property=[\"']og:${prop}[\"']`, 'i');\n  const m = html.match(r1) || html.match(r2);\n  return m ? m[1].trim() : null;\n}\n\nfunction getMeta(name) {\n  const r = new RegExp(`<meta[^>]+name=[\"']${name}[\"'][^>]+content=[\"']([^\"']*)[\"']`, 'i');\n  const m = html.match(r);\n  return m ? m[1].trim() : null;\n}\n\nfunction getTitle() {\n  const m = html.match(/<title[^>]*>([^<]*)<\\/title>/i);\n  return m ? m[1].trim() : null;\n}\n\nconst title = getOG('title') || getMeta('title') || getTitle() || '';\nconst description = getOG('description') || getMeta('description') || '';\nconst image = getOG('image') || '';\nconst siteName = getOG('site_name') || '';\n\nreturn [{ json: { title, description, image, site_name: siteName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, 1056],
      "id": "73268a56-c3b2-4775-adc2-3944c3a62a33",
      "name": "Extract OG Tags"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {"name": "Content-Type", "value": "application/json"},
              {"name": "Access-Control-Allow-Origin", "value": "*"}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1136, 1056],
      "id": "d78a8957-1c86-403a-994c-6968c5fa8ad3",
      "name": "Respond Other"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "User-Agent", "value": "Mozilla/5.0 (compatible; VouchBot/1.0)"},
            {"name": "Accept", "value": "text/html"}
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [656, 864],
      "id": "9ff5018f-db39-4870-9007-c63ec4816961",
      "name": "Follow Maps Redirect",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const html = $json.body || $json.data || '';\nconst headers = $json.headers || {};\n\nlet searchText = html;\n\nif (headers['x-final-url']) searchText += ' ' + headers['x-final-url'];\nif (headers.location) searchText += ' ' + headers.location;\n\nlet placeName = '';\nconst placeMatch = searchText.match(/\\/place\\/([^/@\"'&?]+)/i);\nif (placeMatch) {\n  placeName = decodeURIComponent(placeMatch[1].replace(/\\+/g, ' '));\n}\n\nlet lat = '';\nlet lng = '';\nconst coordMatch = searchText.match(/@(-?\\d+\\.\\d{4,}),(-?\\d+\\.\\d{4,})/);\nif (coordMatch) {\n  lat = coordMatch[1];\n  lng = coordMatch[2];\n}\n\nif (!lat || !lng) {\n  const centerMatch = searchText.match(/center=(-?\\d+\\.\\d+)(?:%2C|,)(-?\\d+\\.\\d+)/);\n  if (centerMatch) {\n    lat = centerMatch[1];\n    lng = centerMatch[2];\n  }\n}\n\nlet resolvedUrl = '';\nconst canonical = html.match(/<link[^>]+rel=[\"']canonical[\"'][^>]+href=[\"']([^\"']+)[\"']/i);\nif (canonical) resolvedUrl = canonical[1];\nif (!resolvedUrl) {\n  const ogUrl = html.match(/<meta[^>]+property=[\"']og:url[\"'][^>]+content=[\"']([^\"']+)[\"']/i)\n    || html.match(/<meta[^>]+content=[\"']([^\"']+)[\"'][^>]+property=[\"']og:url[\"']/i);\n  if (ogUrl) resolvedUrl = ogUrl[1];\n}\n\nif ((!lat || !lng) && resolvedUrl) {\n  const urlCoord = resolvedUrl.match(/@(-?\\d+\\.\\d{4,}),(-?\\d+\\.\\d{4,})/);\n  if (urlCoord) { lat = urlCoord[1]; lng = urlCoord[2]; }\n}\n\nreturn [{ json: { placeName, lat, lng, resolvedUrl } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, 864],
      "id": "b07debaf-7bf9-4c57-9c50-d5cef6aa47b9",
      "name": "Parse Place Name"
    },
    {
      "parameters": {
        "url": "=https://maps.googleapis.com/maps/api/place/textsearch/json?query={{ encodeURIComponent($json.placeName) }}&{{ $json.lat && $json.lng ? 'location=' + $json.lat + ',' + $json.lng + '&radius=500' : '' }}&key=AIzaSyCSyTntHadda6uPeNo-BXQ1KUxzzr6TDtQ",
        "options": {
          "timeout": 8000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1136, 864],
      "id": "e68fe860-5434-45e7-b28d-fcc730131879",
      "name": "Google Places Find Place",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('Parse Place Name').first().json;\nconst placesRes = $json;\nconst results = placesRes.results || placesRes.candidates || [];\nconst place = results[0] || {};\n\nlet image = '';\nif (place.photos && place.photos.length > 0) {\n  const photoRef = place.photos[0].photo_reference;\n  image = `https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photo_reference=${photoRef}&key=AIzaSyCSyTntHadda6uPeNo-BXQ1KUxzzr6TDtQ`;\n}\n\nlet description = '';\nif (place.rating) {\n  description += `⭐ ${place.rating}`;\n  if (place.user_ratings_total) description += ` (${place.user_ratings_total} reviews)`;\n}\nif (place.opening_hours) {\n  description += description ? ' · ' : '';\n  description += place.opening_hours.open_now ? 'Open now' : 'Closed';\n}\n\nlet category = 'place';\nconst types = place.types || [];\nif (types.some(t => ['store','shop','shopping_mall','clothing_store','electronics_store','furniture_store','hardware_store','home_goods_store','jewelry_store','shoe_store','book_store','pet_store'].includes(t))) {\n  category = 'product';\n} else if (types.some(t => ['lawyer','plumber','electrician','doctor','dentist','hospital','physiotherapist','real_estate_agency','insurance_agency','travel_agency','accounting','car_repair','hair_care','beauty_salon','spa','gym','veterinary_care','laundry','locksmith','painter','roofing_contractor','moving_company'].includes(t))) {\n  category = 'service';\n}\n\nreturn [{\n  json: {\n    title: place.name || input.placeName || '',\n    description: description,\n    image: image,\n    address: place.formatted_address || input.placeName || '',\n    lat: place.geometry?.location?.lat?.toString() || input.lat || '',\n    lng: place.geometry?.location?.lng?.toString() || input.lng || '',\n    rating: place.rating || null,\n    rating_count: place.user_ratings_total || null,\n    category: category,\n    site_name: 'Google Maps',\n    source: 'googlemaps'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 864],
      "id": "d5fa121b-175d-47c7-9034-8cc60107b1e5",
      "name": "Format Places Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {"name": "Content-Type", "value": "application/json"},
              {"name": "Access-Control-Allow-Origin", "value": "*"}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1584, 864],
      "id": "1b2213dd-f97b-4074-ba01-18375b528c0f",
      "name": "Respond Google Maps"
    }
  ],
  "pinData": {},
  "connections": {
    "OG Fetch Webhook": {
      "main": [[{"node": "Detect Platform", "type": "main", "index": 0}]]
    },
    "Detect Platform": {
      "main": [[{"node": "Platform Switch", "type": "main", "index": 0}]]
    },
    "Platform Switch": {
      "main": [
        [{"node": "Instagram via Microlink", "type": "main", "index": 0}],
        [{"node": "Facebook via Microlink", "type": "main", "index": 0}],
        [{"node": "Follow Maps Redirect", "type": "main", "index": 0}],
        [{"node": "YouTube via oEmbed", "type": "main", "index": 0}],
        [{"node": "Fetch URL HTML", "type": "main", "index": 0}]
      ]
    },
    "Instagram via Microlink": {
      "main": [[{"node": "Format Instagram", "type": "main", "index": 0}]]
    },
    "Format Instagram": {
      "main": [[{"node": "Respond Instagram", "type": "main", "index": 0}]]
    },
    "Facebook via Microlink": {
      "main": [[{"node": "Format Facebook", "type": "main", "index": 0}]]
    },
    "Format Facebook": {
      "main": [[{"node": "Respond Facebook", "type": "main", "index": 0}]]
    },
    "YouTube via oEmbed": {
      "main": [[{"node": "Format YouTube", "type": "main", "index": 0}]]
    },
    "Format YouTube": {
      "main": [[{"node": "Respond YouTube", "type": "main", "index": 0}]]
    },
    "Follow Maps Redirect": {
      "main": [[{"node": "Parse Place Name", "type": "main", "index": 0}]]
    },
    "Parse Place Name": {
      "main": [[{"node": "Google Places Find Place", "type": "main", "index": 0}]]
    },
    "Google Places Find Place": {
      "main": [[{"node": "Format Places Response", "type": "main", "index": 0}]]
    },
    "Format Places Response": {
      "main": [[{"node": "Respond Google Maps", "type": "main", "index": 0}]]
    },
    "Fetch URL HTML": {
      "main": [[{"node": "Extract OG Tags", "type": "main", "index": 0}]]
    },
    "Extract OG Tags": {
      "main": [[{"node": "Respond Other", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "2680cd55-f65b-4aaa-8469-975ba64fa5ed",
  "meta": {
    "instanceId": "912377b85bb7b8601567b7eac75891920e6a3ebc38db810460689020425b8aa6"
  },
  "id": "a0f79DWbhGmhkFpY",
  "tags": [
    {
      "updatedAt": "2026-03-25T22:42:44.626Z",
      "createdAt": "2026-03-25T22:42:44.626Z",
      "id": "HIN4eStnbW1V08hZ",
      "name": "Live"
    }
  ]
}
