Odin — Photo Prefill.json
{
  "name": "Odin — Photo Prefill",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prefill",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-800, 240],
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Prefill Webhook",
      "webhookId": "prefill"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\n\nif (!body.photo) {\n  throw new Error('No photo provided');\n}\n\nconst photoBase64 = body.photo;\n\n// Build data URL for GPT-4o Vision\nconst dataUrl = `data:image/jpeg;base64,${photoBase64}`;\n\nreturn [{\n  json: {\n    dataUrl,\n    userId: body.userId || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-560, 240],
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Prepare Image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"max_tokens\": 300,\n  \"temperature\": 0,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": {{ JSON.stringify($json.dataUrl) }},\n            \"detail\": \"low\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"You are helping prefill a recommendation form. Look at this photo and return ONLY a JSON object with these fields:\\n{\\n  \\\"title\\\": \\\"<short name of the place, product, or thing — max 5 words>\\\",\\n  \\\"description\\\": \\\"<1-2 sentences describing what you see — type of place, cuisine, vibe, or product. This is used for search indexing, NOT shown to the user.>\\\",\\n  \\\"category\\\": \\\"<one of: place, food, product, service, experience, book, other>\\\"\\n}\\n\\nExamples:\\n- Photo of a cafe interior: {\\\"title\\\": \\\"Cosy Espresso Bar\\\", \\\"description\\\": \\\"A warm, brick-walled cafe serving espresso and cabinet food with a relaxed working atmosphere.\\\", \\\"category\\\": \\\"place\\\"}\\n- Photo of a ramen bowl: {\\\"title\\\": \\\"Tonkotsu Ramen\\\", \\\"description\\\": \\\"Rich pork broth ramen topped with chashu, soft egg, and nori. Hearty and flavourful.\\\", \\\"category\\\": \\\"food\\\"}\\n- Photo of a book: {\\\"title\\\": \\\"Atomic Habits\\\", \\\"description\\\": \\\"A popular self-improvement book about building good habits and breaking bad ones.\\\", \\\"category\\\": \\\"book\\\"}\\n\\nReturn ONLY the JSON object. No explanation, no markdown.\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-320, 240],
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "GPT-4o Vision",
      "credentials": {
        "openAiApi": {
          "id": "O5dHjIM6T4oRwzFq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let result;\ntry {\n  const raw = $json.choices[0].message.content || '{}';\n  const cleaned = raw.replace(/```json\\n?|```\\n?/g, '').trim();\n  result = JSON.parse(cleaned);\n} catch (e) {\n  result = { title: '', description: '', category: 'place' };\n}\n\nreturn [{\n  json: {\n    title: result.title || '',\n    description: result.description || '',\n    category: result.category || 'place',\n    image_caption: result.description || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-80, 240],
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Parse Vision Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, title: $json.title, description: $json.description, category: $json.category } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [160, 240],
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Prefill Response"
    },
    {
      "parameters": {
        "content": "## Odin — Photo Prefill Webhook\n\n**POST /prefill**\n\nCalled immediately after user takes a photo on the Add page — BEFORE form submission.\n\n**Input:**\n```\n{\n  photo: \"<base64 jpeg>\",\n  userId: \"<optional>\"\n}\n```\n\n**Output:**\n```\n{\n  success: true,\n  title: \"Cosy Espresso Bar\",   ← shown to user, editable\n  description: \"A warm brick...\", ← hidden field, for search only\n  category: \"place\"              ← prefills category picker\n}\n```\n\nField mapping:\n- title → shown, user edits if needed\n- description → hidden in form, goes to Supabase for embedding\n- personal_note / Your Take → user types this themselves\n- address → user picks via location picker\n\nNOTE: Uses gpt-4o with detail:low for speed + low cost (~$0.001 per call).",
        "height": 380,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-800, -240],
      "typeVersion": 1,
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Prefill Webhook": {
      "main": [[{ "node": "Prepare Image", "type": "main", "index": 0 }]]
    },
    "Prepare Image": {
      "main": [[{ "node": "GPT-4o Vision", "type": "main", "index": 0 }]]
    },
    "GPT-4o Vision": {
      "main": [[{ "node": "Parse Vision Response", "type": "main", "index": 0 }]]
    },
    "Parse Vision Response": {
      "main": [[{ "node": "Prefill Response", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "912377b85bb7b8601567b7eac75891920e6a3ebc38db810460689020425b8aa6"
  }
}
