Odin — Discovery Capture (LIVE) v2.json
{
  "name": "Odin — Discovery Capture (LIVE)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1008, 464],
      "id": "04f41989-11f7-4671-9161-756747f49dbe",
      "name": "Capture Webhook",
      "webhookId": "capture"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\n\n// Check if photo exists\nif (!body.photo) {\n  // No photo - pass through\n  return [{ json: body }];\n}\n\n// Photo already compressed by the browser (canvas resize at 82% JPEG quality)\n// Just prepare the binary for upload\nconst photoBase64 = body.photo;\nconst originalFilename = body.photoFilename || 'photo.jpg';\n\nconst timestamp = Date.now();\nconst randomStr = Math.random().toString(36).substring(2, 8);\nconst cleanFilename = `${timestamp}_${randomStr}.jpg`;\n\nconst binaryData = Buffer.from(photoBase64, 'base64');\n\nreturn [{\n  json: {\n    ...body,\n    photoFilename: cleanFilename,\n    hasPhoto: true,\n    // Store base64 for Vision call later (only manual uploads, not OG)\n    photoBase64: photoBase64\n  },\n  binary: {\n    photo: {\n      data: binaryData.toString('base64'),\n      mimeType: 'image/jpeg',\n      fileName: cleanFilename\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, 464],
      "id": "d32be66b-b7a4-4dd4-b983-1f60495c21f9",
      "name": "Handle Photo Upload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "842f4029-d25c-4157-a09e-de6b1ced6c40",
              "leftValue": "={{ $json.hasPhoto }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-624, 464],
      "id": "bb4814d5-6085-4956-9cda-1762779400d2",
      "name": "Check If Photo Exists"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hedywkwmgkvojujvczqr.supabase.co/storage/v1/object/recommendation-photos/{{ $json.photoFilename }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            },
            {
              "name": "x-upsert",
              "value": "false"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "photo",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-400, 448],
      "id": "a8281dcd-87d1-41c6-b290-e0f58013a8be",
      "name": "Upload to Supabase Storage",
      "credentials": {
        "supabaseApi": {
          "id": "7wWc27Eaxmxi7FC2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Only run Vision on manual photo uploads (not OG images)\n// Check photoSource — OG path sets photoSource: 'og'\nconst photoSource = $('Handle Photo Upload').first().json.photoSource || 'manual';\nconst photoBase64 = $('Handle Photo Upload').first().json.photoBase64 || null;\n\nif (photoSource === 'og' || !photoBase64) {\n  // Skip Vision for OG images — the OG title/description already covers content\n  return [{ json: { image_caption: null, skip_vision: true } }];\n}\n\nconst dataUrl = `data:image/jpeg;base64,${photoBase64}`;\n\nreturn [{ json: { dataUrl, skip_vision: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 240],
      "id": "v1s1o2n3-0001-0001-0001-000000000001",
      "name": "Prepare Vision Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "v1s1o2n3-cond-0001",
              "leftValue": "={{ $json.skip_vision }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-176, 240],
      "id": "v1s1o2n3-0002-0002-0002-000000000002",
      "name": "Should Run Vision?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"max_tokens\": 150,\n  \"temperature\": 0,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": {{ JSON.stringify($json.dataUrl) }},\n            \"detail\": \"low\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Describe this image in 1-2 sentences for a recommendation app. Focus on: type of place or item, key visual details, atmosphere or style. Be factual and concise. No intro phrases like 'This image shows'.\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [80, 160],
      "id": "v1s1o2n3-0003-0003-0003-000000000003",
      "name": "GPT-4o Vision",
      "credentials": {
        "openAiApi": {
          "id": "O5dHjIM6T4oRwzFq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const caption = $json.choices?.[0]?.message?.content?.trim() || null;\nreturn [{ json: { image_caption: caption } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 160],
      "id": "v1s1o2n3-0004-0004-0004-000000000004",
      "name": "Extract Caption"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input1"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [560, 240],
      "id": "v1s1o2n3-0005-0005-0005-000000000005",
      "name": "Merge Vision Result"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\n\n// Only attempt OG download if there's an ogImageUrl and no manual photo\nif (body.ogImageUrl && body.ogImageUrl.startsWith('http')) {\n  return [{ json: { ...body, hasOGImage: true } }];\n}\n\n// No OG image — pass through\nreturn [{ json: { ...body, hasOGImage: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-976, 720],
      "id": "f66082cf-818a-47b8-9e02-8f6cbb9ffea0",
      "name": "Check OG Image"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9f8e7d6c-5b4a-3210-fedc-ba9876543210",
              "leftValue": "={{ $json.hasOGImage }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-800, 720],
      "id": "2aab2c6f-1a21-4000-a958-7f553f22ace9",
      "name": "Has OG Image?"
    },
    {
      "parameters": {
        "url": "={{ $json.ogImageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-624, 704],
      "id": "649b0d28-377d-4fdc-a88c-e3b5ed58bb13",
      "name": "Download OG Image"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Check OG Image').first().json;\n\nconst timestamp = Date.now();\nconst randomStr = Math.random().toString(36).substring(2, 8);\nconst cleanFilename = `og_${timestamp}_${randomStr}.jpg`;\n\nconst currentItem = $input.item;\nconst binaryData = currentItem.binary?.data;\n\nif (!binaryData) {\n  throw new Error('Binary missing. Keys: ' + JSON.stringify(Object.keys(currentItem.binary || {})));\n}\n\nreturn [{\n  json: {\n    ...body,\n    photoFilename: cleanFilename,\n    hasPhoto: true,\n    photoSource: 'og',\n    ogImageUrl: null\n  },\n  binary: {\n    photo: {\n      data: binaryData.data,\n      mimeType: binaryData.mimeType || 'image/jpeg',\n      fileName: cleanFilename,\n      fileSize: binaryData.fileSize,\n      id: binaryData.id\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 704],
      "id": "ce5d7039-01c7-4377-bc32-92a005b8cb0f",
      "name": "Prepare OG Photo for Upload"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are enriching discovery data for semantic search. Use ONLY the provided inputs below.\n\nINPUTS:\n- Title: {{ $('Handle Photo Upload').item.json.title }}\n- Photo/AI description: {{ $('Handle Photo Upload').item.json.description || 'none' }}\n- Personal note (user's own words): {{ $('Handle Photo Upload').item.json.personalNote || 'none' }}\n- Category: {{ $('Handle Photo Upload').item.json.type }}\n- Address: {{ $('Handle Photo Upload').item.json.address || 'none' }}\n- URL: {{ $('Handle Photo Upload').item.json.url || 'none' }}\n- Live image caption: {{ $('Merge Vision Result').item.json.image_caption || 'none' }}\n\nNOTE: 'Photo/AI description' was generated from the photo at prefill time. 'Personal note' is what the user actually wrote. 'Live image caption' is a fresh Vision analysis of the same photo.\n\nCRITICAL: Base enrichment on title + all description signals above. Do not invent unrelated content.\n\nTASK:\nGenerate a JSON response with:\n{\n  \"enriched_description\": \"<synthesize photo description + image caption into rich context, max 80 words. Do not include the personal note — that stays separate.>\",\n  \"keywords\": [\"<5-8 relevant keywords based on category, description, and image caption>\"],\n  \"feed_card_summary\": \"<5-10 word punchy summary. No punctuation at end. No quotes. Examples: Amazing rooftop bar with city views | Best ramen in Tokyo near Shinjuku | Hidden beach perfect for sunset picnics>\"\n}\n\nKeyword examples by category:\n- For medical/healthcare: [\"healthcare\", \"medical\", \"specialist\", \"clinic\", \"doctor\", location]\n- For coffee shops: [\"coffee\", \"cafe\", \"wifi\", \"atmosphere\", location]\n- For restaurants: [\"food\", \"dining\", \"cuisine\", \"restaurant\", location]\n\nReturn ONLY valid JSON with no explanation or markdown formatting.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [800, 464],
      "id": "8100d9af-34bb-4802-af31-2281cb7d03b0",
      "name": "AI Enhance"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "maxTokens": 400,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [800, 688],
      "id": "9db46b57-4a71-4839-8fed-9b8a3aa96f3d",
      "name": "GPT-4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "O5dHjIM6T4oRwzFq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response\nlet ai;\ntry {\n  const text = $json.text || '{}';\n  const cleaned = text.replace(/```json\\n?|```\\n?/g, '').trim();\n  ai = JSON.parse(cleaned);\n} catch (e) {\n  ai = { enriched_description: '', keywords: [], feed_card_summary: '' };\n}\n\n// Get original data from Handle Photo Upload\nconst originalData = $('Handle Photo Upload').first().json;\n\n// Resolve photo URL\nlet photoUrl = null;\n\nif (originalData.photoFilename) {\n  photoUrl = `https://hedywkwmgkvojujvczqr.supabase.co/storage/v1/object/public/recommendation-photos/${originalData.photoFilename}`;\n} else {\n  try {\n    const ogFilename = $('Prepare OG Photo for Upload').first()?.json?.photoFilename;\n    if (ogFilename) {\n      photoUrl = `https://hedywkwmgkvojujvczqr.supabase.co/storage/v1/object/public/recommendation-photos/${ogFilename}`;\n    }\n  } catch (e) {\n    photoUrl = null;\n  }\n}\n\n// Clean feed_card_summary — strip surrounding quotes\nconst rawSummary = ai.feed_card_summary || '';\nconst feedCardSummary = rawSummary.replace(/^[\"']/g, '').replace(/[\"']$/g, '').trim();\n\nconst payload = {\n  title: originalData.title || 'Untitled',\n  description: originalData.description || '',\n  enriched_description: ai.enriched_description || originalData.description || '',\n  keywords: Array.isArray(ai.keywords) ? ai.keywords : [],\n  feed_card_summary: feedCardSummary,\n  type: (originalData.type || 'place').toLowerCase(),\n  address: originalData.address || null,\n  URL: originalData.url ? [originalData.url] : [],\n  added_by: originalData.UserID || null,\n  added_by_name: originalData.addedBy || 'Unknown',\n  family_id: originalData.familyId || null,\n  network_layer: 1,\n  language: 'en',\n  photo_url: photoUrl,\n  personal_note: originalData.personalNote || null,\n  metadata: {\n    source: 'web_form',\n    created: new Date().toISOString()\n  }\n};\n\nconst embedding_text = [\n  payload.title,\n  payload.enriched_description,\n  payload.personal_note,\n  payload.type,\n  payload.added_by_name,\n  payload.keywords.join(', '),\n  payload.address\n].filter(Boolean).join('\\n');\n\nreturn [{ json: { payload, embedding_text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1056, 464],
      "id": "0baf9f11-84ef-4286-8848-cbf93bbe959b",
      "name": "Build Record"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": {{ JSON.stringify($json.embedding_text) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 464],
      "id": "49dea5ca-1a11-444b-bd54-ccd8589b488b",
      "name": "Generate Embedding",
      "credentials": {
        "openAiApi": {
          "id": "O5dHjIM6T4oRwzFq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Build Record').first().json.payload;\nconst embedding = $json.data[0].embedding;\n\nreturn [{\n  json: {\n    ...payload,\n    embedding: embedding\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 464],
      "id": "daeea721-0249-4a29-9c50-7d814679cd5f",
      "name": "Add Embedding"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hedywkwmgkvojujvczqr.supabase.co/rest/v1/knowledge_items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 464],
      "id": "a022ddbd-ce94-4885-8e48-53ebf6ec049d",
      "name": "Save to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "7wWc27Eaxmxi7FC2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hedywkwmgkvojujvczqr.supabase.co/rest/v1/endorsements",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.added_by }}\",\n  \"item_id\": \"{{ $json.id }}\",\n  \"visibility\": \"friends\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 464],
      "id": "783d090a-570a-44df-a255-fdd3ce2c092b",
      "name": "Auto-Save Endorsement",
      "credentials": {
        "supabaseApi": {
          "id": "7wWc27Eaxmxi7FC2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, id: $('Save to Supabase').first().json.id, title: $('Save to Supabase').first().json.title } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1840, 464],
      "id": "6ba01c6b-5433-47af-aa0f-18c1aa945785",
      "name": "Success Response"
    },
    {
      "parameters": {
        "content": "## Vision Branch (Manual Photos Only)\n\nAfter upload, check if this was a manual photo (not OG).\nIf yes → send to GPT-4o Vision (detail:low, fast + cheap ~$0.001)\nGet image_caption → merge into AI Enhance prompt.\n\nOG images skipped — their title/description already covers content.\n\nimage_caption improves:\n- enriched_description (visual + atmospheric detail)\n- keywords (detected objects, style, cuisine type)\n- embedding quality (visual semantics in vector space)",
        "height": 260,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-400, -80],
      "typeVersion": 1,
      "id": "sticky-vision-note",
      "name": "Vision Note"
    },
    {
      "parameters": {
        "content": "## Auto-Save on Add\nAfter item is created in knowledge_items, immediately insert an endorsement row for the creator.\n\nEvery discovery starts with save count = 1.\nVisibility mirrors the item's own visibility setting.",
        "height": 140,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1680, 280],
      "typeVersion": 1,
      "id": "b3cc27d9-0375-400b-b12e-5008f4852ab0",
      "name": "Sticky Note Auto Save"
    },
    {
      "parameters": {
        "content": "## Manual Photo Upload Path\nUser uploaded a photo directly from their device.\nPhoto is already compressed by the browser before sending (canvas resize, max 1200px, JPEG 82%).\nn8n just converts base64 → binary → uploads to Supabase Storage.\nBase64 also retained for Vision call.",
        "height": 200,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-656, 224],
      "typeVersion": 1,
      "id": "ed0241de-6f87-4733-9f99-02d96cb74471",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Capture Webhook": {
      "main": [[{ "node": "Handle Photo Upload", "type": "main", "index": 0 }]]
    },
    "Handle Photo Upload": {
      "main": [[{ "node": "Check If Photo Exists", "type": "main", "index": 0 }]]
    },
    "Check If Photo Exists": {
      "main": [
        [{ "node": "Upload to Supabase Storage", "type": "main", "index": 0 }],
        [{ "node": "Check OG Image", "type": "main", "index": 0 }]
      ]
    },
    "Upload to Supabase Storage": {
      "main": [[{ "node": "Prepare Vision Input", "type": "main", "index": 0 }]]
    },
    "Prepare Vision Input": {
      "main": [[{ "node": "Should Run Vision?", "type": "main", "index": 0 }]]
    },
    "Should Run Vision?": {
      "main": [
        [{ "node": "GPT-4o Vision", "type": "main", "index": 0 }],
        [{ "node": "Merge Vision Result", "type": "main", "index": 1 }]
      ]
    },
    "GPT-4o Vision": {
      "main": [[{ "node": "Extract Caption", "type": "main", "index": 0 }]]
    },
    "Extract Caption": {
      "main": [[{ "node": "Merge Vision Result", "type": "main", "index": 0 }]]
    },
    "Merge Vision Result": {
      "main": [[{ "node": "AI Enhance", "type": "main", "index": 0 }]]
    },
    "Check OG Image": {
      "main": [[{ "node": "Has OG Image?", "type": "main", "index": 0 }]]
    },
    "Has OG Image?": {
      "main": [
        [{ "node": "Download OG Image", "type": "main", "index": 0 }],
        [{ "node": "AI Enhance", "type": "main", "index": 0 }]
      ]
    },
    "Download OG Image": {
      "main": [[{ "node": "Prepare OG Photo for Upload", "type": "main", "index": 0 }]]
    },
    "Prepare OG Photo for Upload": {
      "main": [[{ "node": "Upload to Supabase Storage", "type": "main", "index": 0 }]]
    },
    "GPT-4o-mini": {
      "ai_languageModel": [[{ "node": "AI Enhance", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI Enhance": {
      "main": [[{ "node": "Build Record", "type": "main", "index": 0 }]]
    },
    "Build Record": {
      "main": [[{ "node": "Generate Embedding", "type": "main", "index": 0 }]]
    },
    "Generate Embedding": {
      "main": [[{ "node": "Add Embedding", "type": "main", "index": 0 }]]
    },
    "Add Embedding": {
      "main": [[{ "node": "Save to Supabase", "type": "main", "index": 0 }]]
    },
    "Save to Supabase": {
      "main": [[{ "node": "Auto-Save Endorsement", "type": "main", "index": 0 }]]
    },
    "Auto-Save Endorsement": {
      "main": [[{ "node": "Success Response", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "a6596e85-23a0-4031-a89d-af1b04ec7520",
  "meta": {
    "instanceId": "912377b85bb7b8601567b7eac75891920e6a3ebc38db810460689020425b8aa6"
  },
  "id": "2eCYa1dV8uTFtT9j",
  "tags": [
    {
      "updatedAt": "2026-03-25T22:42:44.626Z",
      "createdAt": "2026-03-25T22:42:44.626Z",
      "id": "HIN4eStnbW1V08hZ",
      "name": "Live"
    }
  ]
}
